<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weecan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.weecan.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".emergency"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.example.weecan.PersonalProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.weecan.SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.weecan.Conversation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.weecan.Login"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.example.weecan.Homepage"
            android:screenOrientation="portrait" />

        <service
            android:name="com.example.weecan.MyFirebaseMessagingService"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCUjgEot4fYuOT5ietOLGWRp1vBfDl9Qa4" />

    </application>

</manifest>